{{ partial "head.html" . }}
  <body>
    <header class="navbar container grid-960 brand-header">
{{ partial "navigation.html" . }}
    </header>
    <div class="divider"></div>
    <section class="container grid-960 text-center section">
      <h2>{{ .Title }}</h2>
      <p class="text-uppercase tagline">Published {{ .Date.Format .Site.Params.dateform }}<span class="hide-xs"> &middot; <a href="https://github.com/{{ .Site.Params.github }}/tree/master/content/{{ .File.Path }}" title="">Edit on GitHub</a></span></p>
    </section>
    <div class="divider"></div>
    <section class="container grid-960 coumns section main">
      <div class="issue colum col-10 col-sm-12 pt-5 mt-10 centered">
{{ .Content }}
                <br>

<ul class="pagination">
{{- if .PrevInSection }}
  <li class="page-item page-prev">
    <a href="{{ .PrevInSection.Permalink }}" title="{{ .PrevInSection.Title }}">
      <p class="page-item-subtitle">Previous issue</p>
      <h4 class="page-item-title hide-md">{{ .PrevInSection.Params.shorttitle }}</h4>
    </a>
  </li>
{{- end }}
{{- if .NextInSection }}
  <li class="page-item page-next">
    <a href="{{ .NextInSection.Permalink }}" title="{{ .NextInSection.Title }}">
      <p class="page-item-subtitle">Next issue</p>
      <h4 class="page-item-title hide-md">{{ .NextInSection.Params.shorttitle }}</h4>
    </a>
  </li>
{{- end }}
</ul>
        </div>

    </section>

    </section>

{{ partial "footer.html" . }}

  </body>
</html>
