{{ partial "head.html" . }}
  <body>
    <header class="navbar container grid-960 brand-header">
{{ partial "navigation.html" . }}
    </header>
    <div class="divider"></div>
    <section class="container grid-960 text-center section">
      <h2>{{ .Title }}</h2>
    </section>
    <div class="divider"></div>
    <section class="container grid-960 coumns section main">
      <div class="issue colum col-10 col-sm-12 pt-5 mt-10 centered">
{{ .Content }}
      </div>
    </section>

{{ partial "footer.html" . }}

  </body>
</html>
