    <footer class="bg-grey container footer-content mt-10">
      <section class=" container columns grid-960 centered">
          <section id="copyright" class="float-left column col-7">
            <p class="hide-sm">made with ❤ by <a href="https://jloh.co">jloh</a> and powered by <a href="http://sendy.co/?ref=XR4yq">sendy</a> and <a href="https://www.netlify.com/">Netlify</a></p>
	    <p class="show-sm">made with ❤ by <a href="https://jloh.co">jloh</a> <br> powered by <a href="http://sendy.co/?ref=XR4yq">sendy</a> and <a href="https://www.netlify.com/">Netlify</a></p>
          </section>
          <section id="links" class="footer-links float-right text-right column col-5">
            <a href="https://github.com/jloh/thisweekintechnology" class="github" title="GitHub"><i class="fa fa-github fa-2x"></i></a>
            <a href="https://twitter.com/itsjloh" class="twitter" title="Twitter"><i class="fa fa-twitter fa-2x"></i></a>
	    <a href="https://medium.com/{{ .Site.Params.medium.username }}" class="medium" title="Medium"><i class="fa fa-medium fa-2x"></i></a>
	    <a href="{{ .RSSLink }}" class="rss" title="RSS Feed"><i class="fa fa-rss fa-2x"></i></a>
          </section>
      </section>
    </footer>
