<!-- CSS -->

<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.v1.0.0.css">

<link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,700,700i|Raleway:400,600,700|Ubuntu+Mono:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/components/form.min.css" integrity="sha256-oV6sB4PdFOB9dkdbotU/xmxraKRP0t/e0SYUCCGbe+U=" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/components/button.min.css" integrity="sha256-2/+vJl9WGZ9K90JLB4tGX2v9837Dzxn+xKvzOq88cII=" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

{{ range .Site.Params.extracssfiles }}
  <link rel="stylesheet" href="{{ . | absURL }}">
{{ end }}

<!-- Icon -->
<link rel="shortcut icon"
{{ if .Site.Params.faviconfile }}
    href="{{ .Site.Params.faviconfile | absURL }}"
{{ else }}
    href="{{ .Site.BaseURL }}/img/favicon.ico"
{{ end }}
>

<!-- RSS -->
{{ if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }}

{{ if eq .Section "subscribe" }}
  <meta name="robots" content="NOIDEX, NOFOLLOW">
{{ end }}
