    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else if .IsPage }}{{ .Description }}{{ end }}">
    <meta name="referrer" content="no-referrer-when-downgrade"/>
{{ if .Site.Params.twitter }}
    <meta property="twitter:site" content="@{{.Site.Params.twitter.username}}">
{{- end }}
    <meta property="twitter:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
{{- if .Site.Params.social_banner }}
    <meta property="twitter:image" content="{{ if .Params.meta_img }}{{ .Site.BaseURL }}{{ .Params.meta_img }}{{ else }}{{ .Site.BaseURL }}{{.Site.Params.social_banner}}{{ end }}">
{{- else }}
    <meta property="twitter:card" content="summary">
{{- end }}
    <meta property="twitter:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else if .IsPage }}{{ .Description }}{{ end }}">
    <meta name="theme-color" contents="#f0b502">
