{{ partial "head.html" . }}
  <body>
    <header class="navbar container grid-960 brand-header">
{{ partial "navigation.html" . }}
    </header>
    <div class="divider"></div>
    <section id="signup" class="container grid-960 text-center section">
      <h1>This Week in Technology</h1>
      <p class="text-uppercase tagline pb-5">A weekly newsletter on everything tech</p>

      <h3 class="text-center pb-10" style="padding-top: 5rem;">404 - Page Not Found</h3>

    </section>

{{ partial "footer.html" . }}

  </body>
</html>
